body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,
        #42FF00 0%,
        #3FAD18 42%,
        #4B9B2F 65%,
        #358917 81%,
        #356126 100%
    );
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #050505;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.logo img {
    height: 100px;
}

.header-buttons a {
    margin-left: 15px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 400px; 
    background-color: #000000;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.form-container {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #3FAD18;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 8px;
}

/* New styles for the signup link */
.signup-link {
    text-align: center;
    margin-top: 40px;
}

.signup-link a {
    text-decoration: underline;
    color: white; /* Set the color to match the body text color */
}
