

.border{
  border: 2px solid red;
  margin: 3px;
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.invert{
  filter: invert(1);
}

.bg-black{
  background-color: black;
  color: white;
  height: 100vh;
}

.bg-black1{
  background-color: black;
  color: white;
  height: 103vh;
}



.bg-grey{
  background-color: #121212;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}



